<!--
Danielle Taplin
about.component.html
10/28/23
HTML page for about component
-->

<!--create main container for the about page -->
<div role="main" class="container">
  <br /><br />

  <!--display name of composer featured on page-->
  <h2 class="text-center">Johann Sebastian Bach</h2>

  <br /><br />
  <!--display photo of Bach taken from source site-->
  <div class="row">
    <div class="col-sm-7">
      <img src="../../assets/bach.webp" />
    </div>

    <!--display bio on Bach and source-->
    <div class="col-sm-5 my-auto">
      <p> Johann Sebastian Bach is widely regarded as one of the greatest composers in the history of Western classical music.
        Born in Eisenach, Germany, in 1685, Bach's musical genius and prolific output have earned him a prominent place in the canon of music.
        His works span various genres and styles, including cantatas, fugues, concertos, organ music, and choral music, showcasing his exceptional skill as a composer.
        What sets Bach apart from his contemporaries is his remarkable ability to seamlessly blend technical proficiency with deep emotional expressiveness.
         <em class="apa-reference"><a href="https://www.britannica.com/biography/Johann-Sebastian-Bach" target="_blank">Source</a></em>
      </p>
    </div>

  </div>
</div>
