<!--
Danielle Taplin
contact.component.html
11/18/23
contact component for in n out books p1
 -->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>670 W Ave</p>
      <p>Phoenix, Arizona</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 123-456-7890</p>
      <p>Toll-free: 1-800-123-4567</p>
      <p>Fax: 111-222-3334</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at our main location in Phoenix, Arizona.
    </p>
</div>
